/****contenedor Principal****/
.ContenedorContactos
{
  width: 100%;
  height: 100vh;
}
/***titulo**/
.tituloContactos
{
  width: 100%;
  font-family:Helvetica,Arial, sans-serif;
  display: flex;
  justify-content: center;
}
/**contenedor body***/
.bodyContactos
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/****divicion body**/
.contenedorCards{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
/**** Redes sociales***/
.cardContactos{
  width: 180px;
  height: 50px;
  border: solid #E6C9A4 2px;
  background-color: #aab41341;
  border-radius: 10px;
  display: flex;
}
.cardLogo{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 30px;
}
.customLogo{

  width: 100%;
  height: 50%;
  color: white;
  & :hover{
    color: rgb(192, 216, 236);
    transform: scale(1);
  }
}
.cardDescripcion 
{
  display: flex;
  align-items: center;
  flex: 1 1 80px;
  & :hover{
    color: rgba(255, 255, 255, 0.89);
  }
}
.cardDescripcion a{
  color: rgba(202, 199, 199, 0.89);
  text-decoration: none;
  
}

/********BOTONES*******/
.button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button input{
  height: 30px;
  margin:2%;
  color:white;
  background-color: #D28B6A;
  border-radius: 15px;
}

/****INPUT***/
.contenedorMensaje
{
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.texto
{ 
  width: 50%;
  height: 20px;
  background-color: rgba(127, 185, 236, 0.493);
  border-color:transparent;
  border-bottom:solid rgb(16, 55, 87) 2px ;
   
}
/****Imagen***/
.imagen
{
  width: 50%;
  @media (max-width:600px) {
    width: 100%;
  }
}
.imagen img{
  border-radius: 100%;
}