.bloqueIdiomas{
    width: 100%;
    display: block;
    flex: 0 0 auto;
    
}
.titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
   

}
