
.cardPerfil{
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    
}
.titulo{
    font-family: Helvetica,Arial,  sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    width: 40%;
    height: min-content;
    /*border: 3px solid rebeccapurple;*/
    background-color: rgba(87, 115, 122, 0.2);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;

    @media (max-width:600px) {
        width: 100%;
    }
    
}
/***imagenes**/
.imgPersonaje
{
    width: 55%;
    height: min-content;
    display: flex;
    justify-content: center;
}
