.portadaMenu{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin:1%;
    list-style: none;
    position: relative;

    li{
        margin: 0 2% 0 2%;
    }
    @media(max-width:578px)
    {
        display: none;
    }
}

.Link{
    font-family:Helvetica, Arial,  sans-serif;
    color:rgba(84, 200, 255, 0.5);
    text-decoration: none;
    
}
.Link:hover{
    color:#B39929;
}

.itemsMenu{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin:1%;
    list-style: none;
    position: relative;

}   
.barras{
    @media (min-width:578px) {    
       display: none;
    }
}
.itemsMenuActive{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin:1%;
    list-style: none;
    position: relative;
    li{
        margin: 0 2% 0 2%;
    }
    @media(max-width:578px){
        width: 100%;
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right: auto;
        list-style: none;
        top: 30%;
        left: 0;
        right: 0;
        position: relative;
    }
}
