.bloqueFormacion{
    display: block;
    width: 100%;
    flex: 0 0 auto;
    
}
@media (max-width: 768px) {
    .bloqueFormacion {
      width: 100%; 
    }
}
.titulo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.card{
  width: 40%;
  height: fit-content;
  background-color: rgba(87, 115, 122, 0.2);

}