.menu{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin:1%;
    list-style: none;
    position: relative;
    
}
.items{
    margin: 0;
    padding: 1%;
    
    border-radius: 8%;
    /*border: 1px solid black;*/
}
.items:hover{
    background-color:hsla(161, 15%, 47%, 0.3);
    scale: 1.08;
    & .nombreItems{
        color: white;
    }
}

.nombreItems{
    font-family: Helvetica,Arial,sans-serif;
    color:#1b90beb7;
    text-decoration: none;
}

@media (max-width: 576px) {
    .menu{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:1%;
        list-style: none;
        position: relative;
        
    }
    li{
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        
        
    }
    li:hover{
        background-color:#48482a87 ;
    }
}