.menu{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin:1%;
    list-style: none;
    position: absolute;
}

li{
    margin: 0 2% 0 2%;
}
a{
    color:rgba(84, 200, 225, 0.5)
}

@media (max-width: 576px) {
    .menu{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:1%;
        list-style: none;
        position: relative;
        
    }
    li{
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        
        
    }
    li:hover{
        background-color:#48482a87 ;
    }
}