.menu{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin:1%;
    list-style: none;
    
    
}
.items{
    margin: 0;
    padding: 1%;
    text-decoration: none ;
    border-radius: 8%;
    /*border: 1px solid black;*/
}
.items:hover{
    background-color:hsla(161, 15%, 47%, 0.3);
    scale: 1.08;
    & .nombreItems{
        color: white;
    }
}

.nombreItems{
    font-family: Helvetica,Arial,sans-serif;
    color:#1b90beb7;
    text-decoration: none;
    
    
}



@media (max-width: 576px) {
    .menu{
        width: 100%;
        margin-top: 90px;
        display: flex;
        list-style: none;
        word-wrap: break-word;
    }
    a{
        width: 100%;
        display: flex;  
        justify-content: center;
        border-radius: 5%;
        
    }
    a:hover{
        background-color:#48482a87 ;
    }
}