.dibujo{
    width: auto;
    height: auto;
    position: fixed;   
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    left: 50%;
    top: 70%;
    
}
.imagen{
    fill: white;
    animation-name: flecha;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.imagen2{
    fill: white;
    animation-name: flecha;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.imagen3{
    fill: white;
    animation-name: flecha;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}   
@keyframes flecha {
    0%{
        fill: white;
    }
    50%{
        fill:rgba(255, 255, 255, 0);
    }
}
svg:hover{
    width: 65px;
}
.dibujoIzquierda{
    width: auto;
    height: auto;
    position: fixed;   
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    left: 10%;
    top: 70%;
}
.imagenSVG{
    width: 30px;
    transform: rotate(180deg);  
    
}