.fondo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.star2{
    width: 30px;
    animation-name: estrella;
    animation-duration: 5s;
    animation-delay: 0s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.star{
    width: 30px;
    animation-name: estrella;
    animation-duration: 5s;
    animation-delay: 0s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes estrella {
    0%{color: rgb(255, 255, 255);
        left: 0px;
        top: 0px;}
    25%{color: rgba(255, 255, 255, 0);
        left: 0px;
        top:200px;
        width: 0;
    }
    50%{color: rgba(255, 255, 255, 0);
        left: 10px;
        top:200px;
        width: 0%;    
    }
    75%{color: rgba(255, 255, 255, 0);
        left: 10px;
        top: 0px;
        width: 0%;
    }
    100%{color: rgba(255, 255, 255, 0);
        left: 0px;
        top:0px;
        width: 0%;
    }
}