
.bloquePresentacion{
    width: 100%;
    height: auto;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
}
.presentacionNombre h1, h5{
    animation-name: preNombre;
    animation-duration: 2s;
}
@keyframes preNombre {
    0%{
        /*position: relative;*/
        top: -7px;
        opacity: 0;   
    }
    50%{
        /*position: relative;*/
        top: -5px;
        opacity: 0; 
    }
    100%{
        /*position: relative;*/
        top: 0;
        
    }
}
.presentacionNombre{
    width: 50%;
    top: 25% ;

}
.imagenPresentacion{
    width: 58%;    
    border-radius: 10px ;
}

/***imagen***/
.imagenPersonaje{
    
    width: 40%;
    height: min-content;
    display: flex;
    justify-content: center;
}