
.presentacionNombre{
    width: 50%;
    top: 25% ;
    left: 10%;
    position: relative;
}
h1,h4, h5{
    animation-name: preNombre;
    animation-duration: 2s;
}
@keyframes preNombre {
    0%{
        position: relative;
        top: -7px;
        opacity: 0;   
    }
    50%{
        position: relative;
        top: -5px;
        opacity: 0; 
    }
    100%{
        position: relative;
        top: 0;
        
    }
}

.bloquePresentacion{
    width: 100vw;
    height: auto;
    flex: 0 0 auto;
    display: flex;
    align-content: space-around;
}
.imagenPresentacion{
    width: 150px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 10px ;
    
}