.bloqueIntereces{
    width: 100%;
    display: block;
    flex: 0 0 auto;    
}
.titulo
{
    display: flex;
    justify-content: center;
}
.descripcion{
    background-color: rgba(87, 115, 122, 0.2);
    display: flex;
    justify-content: center;
    margin: 2%;

}
